:root {
  font-family: "Neucha", sans-serif;
}
.family {
  font-family: "Dancing Script", sans-serif;
}
.outfit {
  font-family: "Outfit", sans-serif;
}
.h1-title {
  font-family: "Libre Baskerville", sans-serif;
}
button:hover {
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
  transition: 0.3s;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
}
